/*

Theme Name:  ProFlex
Theme URI:   http://demo.artofthemes.com/html/proflex
Description: ProFlex Multi-Purpose Responsive Template is powerful multipurpose theme that will help you to build practically any site. Each one can be made unique with just a few clicks.
Author:      ArtofThemes
Author URI:  http://www.artofthemes.com
Version:     1.0.0
License:     GPL 2+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:        agency, blog, bootstrap, corporate, deco interior, gym fitness, magazine, parallax, portfolio, restaurant, shop, spa, sports, sticky

*/

/*--------------------------------------------------------------
==>>> TABLE OF CONTENTS:
----------------------------------------------------------------
+ General Styles
	- Boxed Layout Mode
	- Headings
	- Sidebar
	- DropCap
	- Borders 
	- Panel
	- Accordion Panel
	- List Group
	- Blockquote
	- Buttons
	- Outline Buttons
	- Labels
	- Forms
	- Left-Right space for images 
	- Borders
	- Elements
	- Slogan

+ Pages Styles
	- SiteMap Page
	- Error Page
	- Progress Bar
	- Portfolio
	- Blog
	
+ Social Icons
+ Module Positions
+ Modules Styles
+ Separators
+ Parallax Scrolling
+ Overlay Styles
+ Pricing Table Styles
+ Styles for Icons
+ Margins - Paddings
+ Min-Height Styles
+ Headers Styles
+ Sign Up Module Style
+ Login Style
+ Background Colors
+ Colors
+ Diagonal Container Styles
+ Magazine Styles
+ Contact Form
+ Dropdown Cart
+ OnePage Styles

--------------------------------------------------------------*/

@import url("fonts.css");

/* ====================================================================================================================
 * General Styles start
 * ====================================================================================================================*/

body {
	background-color: #fff;
	font: 13px/1.8em "Open Sans", sans-serif;
	color: #747474;
}
/* Boxed Layout Mode start */
/* --------------------------------------------------------------------- */
.boxed {
	max-width: 1170px !important;
	margin: 0 auto;
	background: #FFF;
	-moz-box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.4), -4px 0 10px -8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.4), -4px 0 10px -8px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.4), -4px 0 10px -8px rgba(0, 0, 0, 0.4);
}
.boxed header {
	max-width: 1170px !important;
}
/* Boxed Layout Mode end */
/* --------------------------------------------------------------------- */

.thumbnail .caption {
	color: #747474;
}
.carousel-caption {
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}

.mod1 {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.mod2 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 300 !important;
}
.font-size-h1 {
	font-size: 60px; /*font-weight: 100 !important;*/
	line-height: 56px;
}
.well {
	background: #fcfcfc;
	border-top: 1px solid #e1e1e1;
	padding: 10px;
	box-shadow: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.well-sm {
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 10px;
}

/* Headings Start */
/* --------------------------------------------------------------------- */
h1, .h1 {
	font-size: 2.6em;
	line-height: 44px;
	margin: 0 0 32px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300 !important;
	/*letter-spacing: -1px;*/
	text-transform: uppercase;
}
h2, .h2 {
	font-size: 2em;
	line-height: 42px;
	margin: 0 0 30px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300 !important;
	/*letter-spacing: -1px;*/
	text-transform: uppercase;
}
h3, .h3 {
	font-size: 1.6em;
	letter-spacing: normal;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 300 !important;
	/*letter-spacing: -1px;*/
	text-transform: uppercase;
}
h4, .h4 {
	font-size: 1.2em;
	letter-spacing: normal;
	line-height: 27px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400 !important;
	text-transform: uppercase;
}
h5, .h5 {
	font-size: 1em;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 600 !important;
	text-transform: uppercase;
}
h6, .h6 {
	font-size: 1em;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 15px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400 !important;
	text-transform: uppercase;
}
h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
	font-weight: 300;
}
/* Headings End */
/* --------------------------------------------------------------------- */

/* Sidebar Styles */
/* --------------------------------------------------------------------- */
.sidebar-heading {
	border-bottom: 1px solid #e1e1e1;
	padding: 15px 10px 5px 0;
	font-size: 20px;
	font-weight: 300 !important;
}
/* --------------------------------------------------------------------- */

/* DropCap Styles */
/* --------------------------------------------------------------------- */
p.drop-caps:first-child:first-letter {
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
	margin-right: 5px;
	margin-top: 5px;
	padding: 4px;
}
p.drop-caps.secundary:first-child:first-letter {
	border-radius: 4px;
	color: #FFFFFF;
	margin-right: 5px;
	padding: 6px;
}
/* Borders Styles */
/* --------------------------------------------------------------------- */
.border-right {
	border-right: 1px solid #fff;
}
.border-top {
	border-top: 1px solid #fff;
}
.border-bottom {
	border-bottom: 1px solid #fff;
}
.border-left {
	border-left: 1px solid #fff;
}
/* Panel Styles */
/* --------------------------------------------------------------------- */
.panel {
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-primary.panel-grey {
	border-color: #ddd;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.panel-primary.panel-grey > .panel-heading {
	background-color: #606F78;
	color: #FFFFFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.panel-dark {
	border: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #ccccc ;
	color: #999;
}
.panel-dark img {
	margin-bottom: 10px;
}
.panel-dark .btn {
	margin-top: 10px;
}
.panel-dark > .panel-heading {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.panel-light {
	border: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #f6f7f9;
	color: #999;
}
.panel-light img {
	margin-bottom: 10px;
}
.panel-light .btn {
	margin-top: 10px;
}
.panel-light > .panel-heading {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.panel-faq > .panel-heading {
	background-color: #f5f5f5;
}
/* for Accordion & Toggles */
.panel-group .panel + .panel {
	margin-top: -1px;
}
.panel-group .panel {
	border-radius: 0px;
}

/* Accordion Panel */
/* --------------------------------------------------------------------- */
.panel-title {
	font-size: 15px;
	margin-top: 2px;
	text-transform: uppercase;
}
/* --------------------------------------------------------------------- */

/* List Group Styles */
/* --------------------------------------------------------------------- */
.poll .list-group {
	margin-bottom: 0px;
}
.poll .list-group-item {
	padding: 0px 15px;
}

/* Blockquote */
/* --------------------------------------------------------------------- */
blockquote {
	border-left: 5px solid #333;
	margin: 0;
	font-size: 13px !important;
}
blockquote p {
	font-size: 13px !important;
}
blockquote img {
	height: 60px;
	width: 60px;
	margin-right: 5px;
}
blockquote.bubble {
	background: #f6f7f9;
	border-right: 1px solid #efefef;
}
blockquote.bubble p {
	font-size: 13px;
}
blockquote.bubble-light {
	background: #f6f7f9;
}
blockquote.bubble-light p {
	font-size: 13px;
}
#quote-carousel blockquote p {
	color: #fff;
}
#quote-carousel blockquote small {
	color: #ccc;
}
/* Buttons */
/* --------------------------------------------------------------------- */
.btn {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.btn .caret {
	border-top-color: #fff;
}
.btn-default:hover {
	color: #555555;
}
.btn-default .caret {
	border-top-color: #555555;
}
.btn-default {
	background: #222;
	color: #e2e2e2;
	background-repeat: no-repeat;
	border: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.btn-default:hover {
	background: #777;
	color: #fff !important;
}
.btn-success {
	background: #88c149;
	background-repeat: no-repeat;
	border: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.btn-success:hover {
	background: #222;
}
.btn-info {
	background: #04519b;
	background-repeat: no-repeat;
	border: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.btn-info:hover {
	background: #222;
}
.btn-warning {
	background: #ff6707;
	background-repeat: no-repeat;
	border: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.btn-warning:hover {
	background: #222;
}
.btn-danger {
	background: #e12b31;
	background-repeat: no-repeat;
	border: none;
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.btn-danger:hover {
	background: #222;
}
.btn-dark {
	color: #536266;
	background-color: #252B2F;
	border-color: #2E363A;
	margin-bottom: 10px;
	margin-left: -5px;
	height: 32px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.btn-light {
	color: #536266;
	background-color: #fff;
	border-color: #e5e5e5;
	margin-bottom: 10px;
	margin-left: -5px;
	height: 32px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
	color: #536266;
	background-color: #202427;
	border-color: #2E363A;
}

/* Outline Buttons */
/*----------------------------------------------------*/
.btn-outline {
	color: #FFF;
	padding: 12px 20px;
	margin: 15px 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	display: inline-table;
}
h2.asbestos p strong {color: #AC1C00;}

.btn-outline:hover {
	text-decoration: none;
	color: #ffffff;
}
.btn-outline-sm {
	padding: 5px 13px;
	font-size: 13px;
}
.btn-outline-lg {
	padding: 14px 26px;
	font-size: 15px;
}
.btn-outline-xl {
	padding: 18px 30px;
	font-size: 24px;
}
.btn-outline.outline-light, .icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}
.btn-outline.outline-light:hover, .icon.outline-light:hover {
	color: #2c3e50;
	background: #ffffff;
}
.btn-outline.outline-dark, .icon.outline-dark {
	color: #2c3e50;
	background: none;
	border: 2px solid #2c3e50;
}
.btn-outline.outline-dark:hover, .icon.outline-dark:hover {
	color: #ffffff;
	background: #2c3e50;
}
button:hover {
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*----------------------------------------------------*/

/* Labels */
/* --------------------------------------------------------------------- */
.label {
	moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.label-default {
	background-color: #999999;
}
.label-default[href]:hover, .label-default[href]:focus {
	background-color: #808080;
}
.label-primary {
	background-color: #2fa4e7;
}
.label-primary[href]:hover, .label-primary[href]:focus {
	background-color: #178acc;
}
.label-success {
	background-color: #73a839;
}
.label-success[href]:hover, .label-success[href]:focus {
	background-color: #59822c;
}
.label-info {
	background-color: #033c73;
}
.label-info[href]:hover, .label-info[href]:focus {
	background-color: #022241;
}
.label-warning {
	background-color: #dd5600;
}
.label-warning[href]:hover, .label-warning[href]:focus {
	background-color: #aa4200;
}
.label-danger {
	background-color: #c71c22;
}
.label-danger[href]:hover, .label-danger[href]:focus {
	background-color: #9a161a;
}

/* Forms */
/* --------------------------------------------------------------------- */
.form-control {
	margin-bottom: 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	height: 32px;
}
.input-lg {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/* --------------------------------------------------------------------- */

/* Left-Right space for images */
/* --------------------------------------------------------------------- */
.right-space-for-image {
	margin-right: 10px;
}
.left-space-for-image {
	margin-left: 10px;
}
/* --------------------------------------------------------------------- */

/* Borders */
/* --------------------------------------------------------------------- */
.disable-border {
	border: none;
}
/* --------------------------------------------------------------------- */

/* Elements Start */
/* --------------------------------------------------------------------- */
.tab-content > .tab-pane {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 10px;
}
.tab-content {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
/* --------------------------------------------------------------------- */

/* Slogan Styles */
/* --------------------------------------------------------------------- */
.slogan {
	/*font-size: 2.6em;*/
	line-height: 60px;
	margin: 0 0 32px 0;
	font-family: 'Grand Hotel', cursive;
	font-weight: 400;
	text-transform: capitalize;
}
.slogan2 {
	/*font-size: 2.6em;*/
	line-height: 60px;
	margin: 0 0 32px 0;
	font-family: 'Playball', cursive;
	font-weight: 400;
}
.header-slogan-title {
	text-align: center;
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #fff;
	letter-spacing: -3px;
	margin-top: 120px;
	line-height: 70px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.header-slogan-subtitle {
	text-align: center;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #e1e1e1;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.capitalize {
	text-transform: capitalize;
}
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * General Styles End
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Pages Styles Start
 * ====================================================================================================================*/

/* SiteMap Page Style */
/* --------------------------------------------------------------------- */
.sitemap ul {
	padding-left: 0px;
}
.sitemap li {
	list-style: none;
	line-height: 30px;
}
/* --------------------------------------------------------------------- */

/* Error Page Styles Start */
/* --------------------------------------------------------------------- */
.error-template {
	padding: 20px 15px 50px;
	text-align: center;
}
.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}
.error-actions .btn {
	margin-right: 10px;
}
.error-404 {
	font-size: 6em;
	margin: 50px;
}
/* --------------------------------------------------------------------- */

/* Progress Bar Styles */
/* --------------------------------------------------------------------- */
.progress {
	height: 14px;
}
.progress-bar {
	line-height: 14px;
	font-size: 11px;
}
/* --------------------------------------------------------------------- */

/* Portfolio Styles */
/* --------------------------------------------------------------------- */
.portfolio-header .glyphicon {
	font-size: 1.4em;
	margin-top: 19px;
}
.portfolio-info {
	float: right;
	padding-top: 3px;
}
.portfolio-info ul {
	list-style: none;
}
.portfolio-info ul li {
	border-right: 1px solid #E6E6E6;
	color: #B1B1B1;
	display: inline-block;
	font-size: 0.9em;
	margin-right: 8px;
	padding-right: 8px;
}
.portfolio-info ul li:last-child {
	border-right: 0 none;
	margin-right: 0;
	padding-right: 0;
}
ul.project-details {
	font-size: 0.9em;
	list-style: none outside none;
	margin: 0px 0 30px 5px;
	padding: 0;
}
.project-details-icons li, .project-details-icons li .glyphicon {
	margin-right: 5px;
}
.related-project .thumb-info {
	margin-left: 10px;
	margin-top: -40px;
}
.related-project .thumb-type {
}
/* --------------------------------------------------------------------- */

/* Blog Styles */
/* --------------------------------------------------------------------- */
.blog {
	padding: 0 60px;
}
.blog ul {
	margin: 0 0 20px 0;
	padding: 0;
}
.blog > ul > li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.blog-content {
	padding-left: 100px;
}
.blog-content .blog-title {
	margin-bottom: 4px;
}
.blog-item .post-meta, .blog-item .post-meta span {
	margin-right: 10px;
	font-size: 11px;
	color: #888;
}
.blog-item .post-meta span i {
	margin-right: 3px;
}
/* --------------------------------------------------------------------- */
 
/* ====================================================================================================================
 * Pages Styles End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Social Icons start
 * ====================================================================================================================*/
.social-icons-container {
	background: #FCFCFC;
	border-top: 1px solid #e1e1e1;
	border-bottom: 3px solid #e1e1e1;
	padding: 12px 10px 9px;
}
.social-media-icons span {
	margin-left: 10px;
}
.social-icons {
	padding-top: 5px;
}
.social-icon {
	display: block;
	height: 24px;
	width: 24px;
	margin: 0 6px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-icon:hover {
	background-position: 0px -24px;
}
.sc-icon-dribbble {
	background: url(../images/social-icons/dribbble.png) top no-repeat;
}
.sc-icon-facebook {
	background: url(../images/social-icons/facebook.png) top no-repeat;
}
.sc-icon-flickr {
	background: url(../images/social-icons/flickr.png) top no-repeat;
}
.sc-icon-instagram {
	background: url(../images/social-icons/instagram.png) top no-repeat;
}
.sc-icon-linkedin {
	background: url(../images/social-icons/linkedin.png) top no-repeat;
}
.sc-icon-paypal {
	background: url(../images/social-icons/paypal.png) top no-repeat;
}
.sc-icon-pinterest {
	background: url(../images/social-icons/pinterest.png) top no-repeat;
}
.sc-icon-rss {
	background: url(../images/social-icons/rss.png) top no-repeat;
}
.sc-icon-skype {
	background: url(../images/social-icons/skype.png) top no-repeat;
}
.sc-icon-soundcloud {
	background: url(../images/social-icons/soundcloud.png) top no-repeat;
}
.sc-icon-twitter {
	background: url(../images/social-icons/twitter.png) top no-repeat;
}
.sc-icon-twitter2 {
	background: url(../images/social-icons/twitter2.png) top no-repeat;
}
.sc-icon-vimeo {
	background: url(../images/social-icons/vimeo.png) top no-repeat;
}
.sc-icon-xing {
	background: url(../images/social-icons/xing.png) top no-repeat;
}
.sc-icon-youtube {
	background: url(../images/social-icons/youtube.png) top no-repeat;
}

/*	Social Icons start
/*----------------------------------------------------*/
.social {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 100;
}
.social li {
	display: inline-block;
	margin-right: 6px;
}
.social li a {
	display: table;
	position: relative;
}
.social li a i {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 34px;
	height: 34px;
	font-size: 18px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.social-light li a i {
	color: #ffffff;
}
.social-dark li a i {
	color: #666666;
}
.social li a i:after {
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.social li a:hover i {
	color: #f0f0f0;
}
.social li a:hover i:after {
	height: 100%;
}
.social a .fa-facebook:after {
	background: #3b5998;
}
.social a .fa-google-plus:after {
	background: #dd4b39;
}
.social a .fa-twitter:after {
	background: #00aced;
}
.social a .fa-pinterest:after {
	background: #CB2027;
}
.social a .fa-behance:after {
	background: #1769FF;
}
.social a .fa-dribbble:after {
	background: #EA4C89;
}
/*	Social Icons end
/*----------------------------------------------------*/

/* ====================================================================================================================
 * Social Icons end
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Module Positions start
 * ====================================================================================================================*/

/* showcase start */
/* --------------------------------------------------------------------- */
.showcase {
	position: relative;
	top: 0;
	z-index: 0;
}
.homepage-form {
	background-color: #DFDFDF;
	margin: 0 25px;
	padding: 10px;
}
.newsletter {
	background-color: #010101;
	margin: 0 25px;
	padding: 5px 10px;
}
/* showcase end */
/* --------------------------------------------------------------------- */

/* feature start */
/* --------------------------------------------------------------------- */

.feature {
	padding: 40px 0 0px;
	background: #f6f7f9;
}
.feature .container img {
	padding: 3px;
}
.feature .container p {
	padding-top: 4px;
}
.feature h4 {
	color: #f6f7f9;
}
.feature2 {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 40px 0 45px;
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2) inset;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2) inset;
	background: url(../images/textures/texture04.png) repeat 0 0;
}
.feature2 .container img {
	padding: 4px;
}
.feature2 .container p {
	padding-top: 8px;
}
/* feature end */
/* --------------------------------------------------------------------- */

/* top-a start */
/* --------------------------------------------------------------------- */
.top-a {
	background: #ffffff;
	padding: 50px 0;
}
/* top-a end */
/* --------------------------------------------------------------------- */

/* top-b start */
/* --------------------------------------------------------------------- */
.top-b {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #fcfcfc;
	background: #e6e6e6;
	padding: 30px 0 45px;
}
.top-b-for-parallax {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #fcfcfc;
	background: none;
	padding: 30px 0 45px;
}
/* top-b end */
/* --------------------------------------------------------------------- */

/* top-c start */
/* --------------------------------------------------------------------- */
.top-c {
	padding: 30px 0;
	background: #FFF;
}
/* top-c end */
/* --------------------------------------------------------------------- */

/* inner-top start */
/* --------------------------------------------------------------------- */
.inner-top {
	background: #ffffff;
}
.inner-top .showbiz-container {
	margin-bottom: 20px;
}
/* inner-top end */
/* --------------------------------------------------------------------- */

/* inner-bottom start */
/* --------------------------------------------------------------------- */
.inner-bottom {
	height: 65px;
	color: #fff;
}
.inner-bottom .tweets {
	color: #fff;
	background: url(../images/icon-twitter.png) no-repeat 0 0;
	margin-top: 22px;
	padding-left: 30px;
	font-style: italic;
	font-size: 14px;
}
.inner-bottom a, .inner-bottom a:hover, .inner-bottom .tweets a, .inner-bottom .tweets a:hover {
	color: #C9E4FF;
}
/* inner-bottom end */
/* --------------------------------------------------------------------- */

/* Main Content Start */
/* --------------------------------------------------------------------- */
.main-content {
}
/* Main Content End */
/* --------------------------------------------------------------------- */

/* Bottom Start */
/* --------------------------------------------------------------------- */
.latest-news {
	margin-left: -40px;
}
.latest-news li {
	list-style: none;
	display: inline-block;
}
.latest-news li a {
	line-height: 24px;
}
.latest-news li a span {
	color: #69767F;
	display: block;
	font-size: 11px;
	margin-bottom: 6px;
}
/* Bottom End */
/* --------------------------------------------------------------------- */

/* Footer Start */
/* --------------------------------------------------------------------- */
.footer .container div {
	padding-left: 0px;
	padding-right: 0px;
}
/* Footer end */
/* --------------------------------------------------------------------- */

/* Content Block Holders */
/* --------------------------------------------------------------------- */
.content-block {
	width: 100%;
	padding: 60px 0 60px 0;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}
.content-block-nopad {
	width: 100%;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}
.underlined-title {
	text-align: center;
	margin-bottom: 30px;
}
/* --------------------------------------------------------------------- */

/*	Content Block 2-8 start
/*----------------------------------------------------*/

.content-2-8 {
	padding: 0px;
	position: relative;
}
.content-2-8 .image-container {
	position: absolute;
	height: 100%;
	padding: 0px;
	top: 0px;
}
.content-2-8 .image-container .background-image-holder {
	background: #000 url('../images/image-holder.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.content-2-8 .image-container .background-image-holder-corporate {
	background: #000 url('../images/corporate/corporate-img5.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.content-2-8 .subcontent {
	padding-top: 80px;
	padding-bottom: 60px;
}
.content-2-8 h1 {
	font-size: 50px;
	line-height: 50px
}
.content-2-8 h3 {
	margin-top: 0;
	font-weight: 600;
}
.content-2-8 h1, .content-2-8 h3, .content-2-8 .lead, .content-2-8 p, .content-2-8 span {
/*color: #ffffff;*/
}


/*	Content Block 2-8 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 2-8 end
/*----------------------------------------------------*/

/*	Content Block 1-6 start
/*----------------------------------------------------*/

.content-1-6 h2 {
/*margin-bottom: 40px !important;*/
}
.content-1-6 .client-row {
	/*overflow: hidden;*/
	text-align: center;
	line-height: 0;
}
.content-1-6 .client-row .col-md-3 {
	display: inline-block;
	min-height: 80px;
	line-height: 80px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.content-1-6 .client-row img {
	max-width: 140px;
	opacity: 0.3;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-backface-visibility: none;
}
.content-1-6 .client-row img:hover {
	opacity: 1;
}
.content-1-6 .client-row .row-wrapper {
	display: inline-block;
	width: 80%;
}
.content-1-6 .client-row:last-child .row-wrapper {
	border-bottom: none;
}
.content-1-6 .row-wrapper .col-md-3 {
}
.content-1-6 .row-wrapper .col-md-3:last-child {
	border-right: none;
}


/*	Content Block 1-6 MEDIA QUERIES
/*----------------------------------------------------*/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
 .content-1-6 .client-row .row-wrapper border-bottom: none;
}
.content-1-6 .row-wrapper .col-md-3 {
	border-right: none;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.content-1-6 .client-row .row-wrapper {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.content-1-6 .row-wrapper .col-md-3 {
	border-right: 1px dashed rgba(0, 0, 0, 0.2);
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 1-6 end
/*----------------------------------------------------*/

/*	Content Block 1-7
/*----------------------------------------------------*/

.content-1-7 {
}
.content-1-7 .col-md-2 {
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.content-1-7 img {
	max-width: 140px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0.4;
}
.content-1-7 img:hover {
	opacity: 1;
}


/*	Content Block 1-7 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 1-7 end
/*----------------------------------------------------*/

/*	Content Block 2-7 start
/*----------------------------------------------------*/

.content-2-7 {
}
.content-2-7 .counter-icon {
	font-size: 5em;
	margin-top: 30px;
	color: #f39c12;
}
.content-2-7 .counter, .content-2-7 .counter-text {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #f39c12;
}
.content-2-7 .counter-text p {
	font-size: 18px;
	color: #f39c12;
}
.content-2-7 .counter {
	font-size: 44px;
	color: #fff;
}
.content-2-7 .underlined-title h1, .content-2-7 .underlined-title h4 {
	color: #fff;
}


/*	Content Block 2-7 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 2-7 end
/*----------------------------------------------------*/

/*	Content Block 2-7-dark start
/*----------------------------------------------------*/

.content-2-7-dark {
}
.content-2-7-dark .counter-icon {
	font-size: 3.2em;
	margin-top: 30px;
	color: #444;
}
.content-2-7-dark .counter-icon span {
	height: 100px;
	width: 100px;
	max-width: 100%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0 auto;
	padding-top: 27px;
	color: #fff;
}
.content-2-7-dark .counter, .content-2-7-dark .counter-text {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #444;
}
.content-2-7-dark .counter-text p {
	font-size: 18px;
	color: #444;
}
.content-2-7-dark .counter {
	font-size: 44px;
	color: #444;
}
.content-2-7-dark .underlined-title h1, .content-2-7-dark .underlined-title h4 {
	color: #444;
}


/*	Content Block 2-7-dark MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 2-7-dark end
/*----------------------------------------------------*/

/*	Content Block 1-1 start
/*----------------------------------------------------*/

.content-1-1 {
	background: url("../images/parallax-header3.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*	Content Block 1-1 end
/*----------------------------------------------------*/

/*	Content Construction1 start
/*----------------------------------------------------*/

.content-construction1 {
	background: url("../images/construction/construction-fullwidth.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*	Content Block 1-1 end
/*----------------------------------------------------*/

/*	Content Block 1-5 start
/*----------------------------------------------------*/

.content-1-5 h1 {
}
.content-1-5 img {
	margin: 30px auto 0 auto;
}



/*	Content Block 1-5 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.content-1-5 img {
	margin: 0;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Content Block 1-5 end
/*----------------------------------------------------*/

/*	Footer 1-4 start
/*----------------------------------------------------*/

.footer-1-4 {
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
}
.footer-1-4 h2 {
	color: #ffffff;
}
.footer-1-4 .footer-form {
	margin-top: 40px;
}
.footer-1-4 input[type=text] {
	background-color: rgba(255, 255, 255, 0.7);
	border: solid 1px #e5e5e5;
	padding: 20px;
	width: 30%;
	color: #999;
}
.footer-1-4 input[type=submit] {
	background: rgba(254, 151, 162, 0.8);
	border: solid 1px rgba(215, 105, 123, 0.8);
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.footer-1-4 input[type=submit]:hover {
	background: rgba(173, 51, 55, 1);
	border: solid 1px rgba(215, 105, 123, 1);
	color: #fff;
}
.footer-1-4 .social {
	margin-top: 30px;
}


/*	Footer 1-4 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Footer 1-4 end
/*----------------------------------------------------*/

/*	Footer 1 start
/*----------------------------------------------------*/
#footer1 .navbar-brand {
	margin-top: 0px;
	padding: 0px;
}
#footer1 .bottom-links {
	list-style-type: none;
	margin: 0 0 26px;
	padding: 0;
}
#footer1 .bottom-links li {
	line-height: 26px;
}
#footer1 .bottom-links li a {
	color: #B1B9BD;
}
#footer1 .bottom-links li a:hover {
	color: #95a5a6;
}
/*	Footer 1  end
/*----------------------------------------------------*/

/*	Footer 1-1 Start
/*----------------------------------------------------*/

.footer-1-1 {
	padding-top: 60px;
	padding-bottom: 20px;
}
.footer-1-1 h3, .footer-1-1 h4, .footer-1-1 .lead, .footer-1-1 li {
	color: #545454;
}
.footer-1-1 .brand-img {
	width: 200px;
	margin-bottom: 30px;
}
.footer-1-1 h4 {
	margin-bottom: 20px;
}
.footer-1-1 ul {
	list-style-type: none;
	margin: 0 0 26px;
	padding: 0;
}
.footer-1-1 ul li {
	border-top: 1px solid #bdc3c7;
	line-height: 19px;
	padding: 6px 0;
}
.footer-1-1 li:first-child {
	border-top: none;
	padding-top: 1px;
}


/*	Footer 1-1 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*	Footer 1-1 End
/*----------------------------------------------------*/

/* ====================================================================================================================
 * Module Positions end
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Modules Styles Start
 * ====================================================================================================================*/
 
/* flash-wrapper start */
/* --------------------------------------------------------------------- */
.flash-wrap {
	margin-top: -40px;
	padding: 20px 30px 50px;
	color: #fff; 
}
.flash-wrap h1, .flash-wrap h2, .flash-wrap h3, .flash-wrap h4, .flash-wrap h5, .flash-wrap h6 {
	color: #ffffff !important;
}
.flash-wrap .title {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 56px;
	margin: 20px 0 10px;
	line-height: 1.1;
	letter-spacing: -1px;
}
.flash-wrap .subtitle {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin: 10px 0;
	line-height: 1.1;
	letter-spacing: -1px;
}
.flash-wrap .description {
	color: #f4f4f4;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 30px;
	margin: 20px 0 10px;
	line-height: 1.1;
	letter-spacing: -1px;
}
/* flash-wrapper end */
/* --------------------------------------------------------------------- */
 
/* Parallax Header Modules Style */
/* --------------------------------------------------------------------- */
.box1 > .icon {
	text-align: center;
	position: relative;
}
.box1 > .icon > .image {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 60px;
	height: 60px;
	border: 2px solid white;
	line-height: 60px;
	border-radius: 50%;
	vertical-align: middle;
}
.box1 > .icon:hover > .image {
	background: #333;
}
.box1 > .icon > .image > i {
	font-size: 22px !important;
	color: #fff !important;
}
.box1 > .icon:hover > .image > i {
	color: white !important;
}
.box1 > .icon > .info {
	margin-top: -24px;
	background: rgba(0, 0, 0, 0.6); /*border: 1px solid #e0e0e0;*/
	padding: 15px 0 10px 0;
}
.box1 > .icon:hover > .info {
	background: rgba(0, 0, 0, 0.8);
	border-color: #e0e0e0;
	color: white;
}
.box1 > .icon > .info > .title {
	color: #fff;
}
.box1 > .icon > .info > p {
	font-size: 13px;
	color: #ccc;
	line-height: 1.5em;
	margin: 10px 20px;
}
.box1 > .icon:hover > .info > .title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
	color: #ccc;
}
.box1 > .icon > .info > .more a {
	font-size: 12px;
	color: #222;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 8px;
	color: #fff; /*border-radius: 4px; moz-border-radius: 4px; -webkit-border-radius: 4px;*/
}
.box1 > .icon:hover > .info > .more > a {
	color: #333;
	padding: 6px 8px;
}
.box1 .space {
	height: 30px;
}
/* Parallax Header Modules Style end */
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * Modules Styles End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Separators Start
 * ====================================================================================================================*/
.separator {
	height: 1px;
	background-color: #e1e1e1;
	width: 50%;
	margin-left: 25%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.separator-style {
	background-color: #FCFCFC;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 2px;
	display: block;
	height: 9px;
	left: 50%;
	margin-left: -5px;
	margin-top: -4px;
	position: absolute;
	width: 9px;
}
.separator-left {
	height: 1px;
	background-color: #e1e1e1;
	width: 50%;
	/*margin-left: 25%;*/
	margin-top: 25px;
	margin-bottom: 25px;
}
.separator-left-style {
	background-color: #FCFCFC;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 2px;
	display: block;
	height: 9px;
	/*left: 50%;*/
	margin-left: 0px;
	margin-top: -4px;
	position: absolute;
	width: 9px;
}
.separator-right {
	height: 1px;
	background-color: #e1e1e1;
	width: 50%;
	margin-left: 50%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.separator-right-style {
	background-color: #FCFCFC;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 2px;
	display: block;
	height: 9px;
	right: 0;
	margin-right: 6px;
	margin-top: -4px;
	position: absolute;
	width: 9px;
}
/* ====================================================================================================================
 * Separators End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Parallax Scrolling Start
 * ====================================================================================================================*/

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax {
	background: url(../images/home.jpg);
	background-position: 50% 0 !important;
	background-color: #000;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
#parallax article {
	height: 458px;
	position: absolute;
	text-indent: -9999px;
	top: 91px;
	width: 100%;
}
#parallax-header {
	background: url(../images/parallax-header.jpg) 50% 0 no-repeat fixed !important;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
#parallax2 {
	background-image: url(../images/parallax-header2.jpg);
	background-position: 50% 0 !important;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
#parallax3 {
	background-image: url(../images/parallax-header3.jpg);
	background-position: 50% 0 !important;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
#parallax3 .style-title {
	color: #FFF !important;
}
#parallax4 {
	background-image: url(../images/parallax-header4.jpg);
	background-position: 50% 0 !important;
	background-color: #000;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
	color: rgba(250, 250, 250, 0.7);
}
#parallax4 h2, #parallax4 i {
	color: #FFF;
}
.parallax-sports {
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
.parallax-coffee {
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}
.parallax-spa {
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
}
.parallax-onestore {
	min-height: 680px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
/* ====================================================================================================================
 * Parallax Scrolling End
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Overlay Styles Start
 * ====================================================================================================================*/
.overlay-02 {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.05) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.overlay-03 {
	background: none repeat scroll 0px 0px rgba(30, 35, 41, 0.3) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.overlay-06 {
	background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.6) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.overlay-07 {
	background: none repeat scroll 0px 0px rgba(30, 35, 41, 0.7) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.overlay-dark-055 {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.55) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
.overlay-08 {
	background: none repeat scroll 0px 0px rgba(0, 0, 0, 0.8) !important;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
/* ====================================================================================================================
 * Overlay Styles Start
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Pricing Tables Styles Start
 * ====================================================================================================================*/

/* Pricing Tables Styles 01 Start */
/* --------------------------------------------------------------------- */
.price {
	font-size: 4em;
}
.price-cents {
	vertical-align: super;
	font-size: 50%;
}
.price-month {
	font-size: 35%;
	font-style: italic;
}
/* Pricing Tables Styles 01 End */
/* --------------------------------------------------------------------- */

/* Pricing Tables Styles 02 Start */
/* --------------------------------------------------------------------- */
.pricing .panel-body {
	padding: 0px;
}
.pricing:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.panel-body {
/* padding: 0px;
   text-align: center;*/
}
.the-price {
	background-color: rgba(220,220,220,.17);
	box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
	padding: 20px;
	margin: 0;
}
.the-price h1 {
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.subscript {
	font-size: 25px;
}
/* CSS-only ribbon styles    */
.cnrflash {
	/*Position correctly within container*/
	position: absolute;
	top: -9px;
	right: 4px;
	z-index: 1; /*Set overflow to hidden, to mask inner square*/
	overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
	width: 100px;
	height: 100px;
	border-radius: 3px 5px 3px 0;
}
.cnrflash-inner {
	/*Set position, make larger then 			container and rotate 45 degrees*/
	position: absolute;
	bottom: 0;
	right: 0;
	width: 145px;
	height: 145px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
	-ms-transform-origin: 100% 100%;  /* IE 9 */
	-o-transform-origin: 100% 100%; /* Opera */
	-moz-transform-origin: 100% 100%; /* Firefox */
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
	background-size: 4px, auto, auto, auto;
	background-color: #aa0101;
	box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after {
	/*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
	content: " ";
	display: block;
	position: absolute;
	bottom: -16px;
	width: 0;
	height: 0;
	border: 8px solid #800000;
}
.cnrflash-inner:before {
	left: 1px;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.cnrflash-inner:after {
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.cnrflash-label {
	/*Make the label look nice*/
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	padding-bottom: 5px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(1,1,1,.8);
	font-size: 0.95em;
	font-weight: bold;
	text-align: center;
}
/* Pricing Tables Styles 02 End */
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * Pricing Tables Styles End
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Styles for Icons Start
 * ====================================================================================================================*/

/* for Glyphicon Styles Start */
/* --------------------------------------------------------------------- */
.panel-title .glyphicon {
	margin-right: 10px;
}
/* --------------------------------------------------------------------- */

/* for Font Awesome Icons Start */
/* --------------------------------------------------------------------- */

i.fa { /*-webkit-transition: all 0.6s ease-in-out; transition: all 0.4s ease-in-out;*/
	position: relative;
	top: 0px;
}
i.fa:hover { /*top:-5px; */
}
/* --------------------------------------------------------------------- */

/* Accordion Menu With Icon Styles Start */
/* --------------------------------------------------------------------- */
.panel-body-accordion .glyphicon {
	margin-right: 10px;
	color: #545454;
}
.panel-body-accordion {
	padding: 0px;
}
.panel-body-accordion table tr td {
	padding-left: 15px
}
.panel-body-accordion .table {
	margin-bottom: 0px;
}
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * Styles for Icons End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Margin - Padding Styles Start
 * ====================================================================================================================*/
.disable-margins {
	margin: 0px !important;
}
.disable-paddings {
	padding: 0px !important;
}

/* for Top & Bottom Margins start */
/* --------------------------------------------------------------------- */
.top5 {
	margin-top: 5px !important;
}
.top10 {
	margin-top: 10px !important;
}
.top20 {
	margin-top: 20px !important;
}
.top30 {
	margin-top: 30px !important;
}
.top40 {
	margin-top: 40px !important;
}
.top50 {
	margin-top: 50px !important;
}
.top60 {
	margin-top: 60px !important;
}
.top70 {
	margin-top: 70px !important;
}
.top80 {
	margin-top: 80px !important;
}
.top90 {
	margin-top: 90px !important;
}
.top100 {
	margin-top: 100px !important;
}
.bottom5 {
	margin-bottom: 5px !important;
}
.bottom10 {
	margin-bottom: 10px !important;
}
.bottom20 {
	margin-bottom: 20px !important;
}
.bottom30 {
	margin-bottom: 30px !important;
}
.bottom40 {
	margin-bottom: 40px !important;
}
.bottom50 {
	margin-bottom: 50px !important;
}
.bottom60 {
	margin-bottom: 60px !important;
}
.bottom70 {
	margin-bottom: 70px !important;
}
.bottom80 {
	margin-bottom: 80px !important;
}
.bottom90 {
	margin-bottom: 90px !important;
}
.bottom100 {
	margin-bottom: 100px !important;
}
.top-5 {
	margin-top: -5px !important;
}
.top-10 {
	margin-top: -10px !important;
}
.top-20 {
	margin-top: -20px !important;
}
.top-30 {
	margin-top: -30px !important;
}
.top-40 {
	margin-top: -40px !important;
}
.top-50 {
	margin-top: -50px !important;
}
.top-60 {
	margin-top: -60px !important;
}
.top-70 {
	margin-top: -70px !important;
}
.top-80 {
	margin-top: -80px !important;
}
.top-90 {
	margin-top: -90px !important;
}
.top-100 {
	margin-top: -100px !important;
}
/* for Top & Bottom Margins end */
/* --------------------------------------------------------------------- */

/* for Top & Bottom Paddings start */
/* --------------------------------------------------------------------- */
.padding-top10 {
	padding-top: 10px !important;
}
.padding-top15 {
	padding-top: 15px !important;
}
.padding-top20 {
	padding-top: 20px !important;
}
.padding-top30 {
	padding-top: 30px !important;
}
.padding-top40 {
	padding-top: 40px !important;
}
.padding-top50 {
	padding-top: 50px !important;
}
.padding-top60 {
	padding-top: 60px !important;
}
.padding-top70 {
	padding-top: 70px !important;
}
.padding-top80 {
	padding-top: 80px !important;
}
.padding-top90 {
	padding-top: 90px !important;
}
.padding-top100 {
	padding-top: 100px !important;
}
.padding-bottom10 {
	padding-bottom: 10px !important;
}
.padding-bottom15 {
	padding-bottom: 15px !important;
}
.padding-bottom20 {
	padding-bottom: 20px !important;
}
.padding-bottom30 {
	padding-bottom: 30px !important;
}
.padding-bottom40 {
	padding-bottom: 40px !important;
}
.padding-bottom50 {
	padding-bottom: 50px !important;
}
.padding-bottom60 {
	padding-bottom: 60px !important;
}
.padding-bottom70 {
	padding-bottom: 70px !important;
}
.padding-bottom80 {
	padding-bottom: 80px !important;
}
.padding-bottom90 {
	padding-bottom: 90px !important;
}
.padding-bottom100 {
	padding-bottom: 100px !important;
}
.padding-left-zero {
	padding-left: 0px;
}
.padding-right-zero {
	padding-right: 0px;
}
/* for Top & Bottom Paddings end */
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * Margin &amp; Padding Styles End
 * ====================================================================================================================*/
 
/* ====================================================================================================================
 * Min-Height Styles Start
 * ====================================================================================================================*/
.min-height-100px {
	min-height: 100px;
}
.min-height-200px {
	min-height: 200px;
}
.min-height-300px {
	min-height: 300px;
}
.min-height-400px {
	min-height: 400px;
}
.min-height-500px {
	min-height: 500px;
}
.min-height-600px {
	min-height: 600px;
}
.min-height-700px {
	min-height: 700px;
}
.min-height-800px {
	min-height: 800px;
}
/* ====================================================================================================================
 * Min-Height Styles Start
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Header Styles Start
 * ====================================================================================================================*/

/* Headers Styles */
/* --------------------------------------------------------------------- */
.page-header {
	border-bottom: 1px dotted #E1E1E1;
	margin: 10px 0 20px;
	padding-bottom: 3px;
}
/* for Custom Header Styles */
/* --------------------------------------------------------------------- */
/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
	height: 340px;
	background: url(../images/textures/wide1.jpg) center top no-repeat;
	background-size: cover;
}
.business-header .tagline {
	margin-top: 170px;
}
.business-header h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
.business-header2 {
	height: 340px;
	background: url(../images/textures/wide2.jpg) center center no-repeat;
	background-size: cover;
}
.business-header2 h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
.business-header2 .tagline {
	margin-top: 170px;
}

.business-header3 {
	height: 340px;
	background: url(../images/textures/wide3.jpg) center center no-repeat;
	background-size: cover;
}
.business-header3 h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
.business-header3 .tagline {
	margin-top: 170px;
}


.business-header4 {
	height: 340px;
	background: url(../images/textures/wide44.jpg) center center no-repeat;
	background-size: cover;
}
.business-header4 h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
.business-header4 .tagline {
	margin-top: 170px;
}


.business-apart {
	height: 340px;
	background-size: cover;
}
.business-apart h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
.business-apart .tagline {
	margin-top: 170px;
}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
	margin-top: 225px;
}
/* --------------------------------------------------------------------- */

/* Google Map for Header */
/* --------------------------------------------------------------------- */
.google-map-header {
	height: 500px;
}
.google-map-header iframe {
	margin: 0;
	padding: 0;
	width: 100%;
}
.google-map-header-bottom {
	height: 400px;/*border-top: 1px solid #FFFFFF;
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);*/
}
.google-map-header-bottom iframe {
	margin: 0;
	padding: 0;
	width: 100%;
}
/* --------------------------------------------------------------------- */

/* for Login Header Styles */
/* --------------------------------------------------------------------- */
/* change the URL to a picture of your choice - the higher quality the better! */
.login-header {
	background: url(../images/2400x1000-image01.jpg) center center no-repeat;
	background-size: cover;
	padding: 30px 0;
}
.login-header h4 {
	background: #34495E;
	color: #fff;
	padding: 5px;
	display: inline;
}
/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	background: #BF0203;
	text-shadow: none;
	color: #fff;
	margin-top: 225px;
	padding: 5px;
	display: inline-block;
}
.account-box {
	border: 1px solid rgba(153, 153, 153, 0.75);
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-khtml-border-radius: 0px !important;
	-o-border-radius: 0px;
	z-index: 3;
	font-size: 12px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	padding: 20px;
	opacity: 0.9;
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo-for-login {
	width: 140px;
	height: 30px;
	text-align: center;
	margin: 10px 0px 27px 75px;
	background-position: 0px -4px;
	position: relative;
}
.forgotLnk {
	margin-top: 10px;
	padding-left: 20px;
	display: block;
}
.purple-bg {
	background-color: #6E329D;
	color: #fff;
}
.or-box {
	position: relative;
	border-top: 1px solid #dfdfdf;
	padding-top: 20px;
	margin-top: 20px;
}
.or {
	color: #666666;
	background-color: #ffffff;
	position: absolute;
	text-align: center;
	top: -12px;
	width: 40px;
	left: 129px;
}
.account-box .btn:hover {
	color: #e1e1e1 !important;
}
.account-box label {
	padding-left: 20px;
}
.btn-facebook {
	background-color: #3B5998;
	color: #fff;
	font-weight: normal;
}
.btn-google {
	background-color: #60BF40;
	color: #fff;
	font-weight: normal;
}
/* --------------------------------------------------------------------- */

/* ====================================================================================================================
 * Header Styles End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Sign Up Module Style Start
 * ====================================================================================================================*/
#signup {
	margin-top: 10px;
	margin-bottom: 30px;
}
#signup .row {
	margin-left: -15px;
	margin-right: -15px;
}
#signup legend {
	color: #141823;
	font-size: 25px;
	font-weight: bold;
	line-height: 50px;
}
.signup-btn {
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
.signup-btn:hover {
	background: #8EAF26;
	text-decoration: none;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.form .form-control {
	margin-bottom: 10px;
}
@media (min-width:768px) {
#home {
	margin-top: 50px;
}
#home .slogan {
	color: #0e385f;
	line-height: 29px;
	font-weight: bold;
}
}
/* ====================================================================================================================
 * Sign Up Module Style End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Login Style Start
 * ====================================================================================================================*/
.form-signin {
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
	padding-left: 20px;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall {
	padding: 40px 0px 20px 0px;
}
.login-title {
	color: #555;
	font-size: 38px;
	display: block;
}
.profile-img {
	width: 150px;
	height: 150px;
	margin: 0 auto 30px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.need-help {
	margin-top: 10px;
}
.new-account {
	display: block;
	margin-top: 10px;
}
/* ====================================================================================================================
 * Login Style End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Background Colors Start
 * ====================================================================================================================*/
.bg-black {
	background-color: #111111 !important;
}
.bg-white {
	background-color: #FFFFFF !important;
}
.bg-offwhite {
	background-color: #F5F5F5 !important;
}
.bg-clouds {
	background-color: #ECF0F1 !important;
}
.bg-silver {
	/*background-color: #BDC3C7 !important;*/
}
.bg-concrete {
	background-color: #95A5A6 !important;
}
.bg-asbestos {
	background-color: #7F8C8d !important;
}
.bg-tan {
	background-color: #D1DBBD !important;
}
.bg-pewter {
	background-color: #91AA9D !important;
}
.bg-moonlight {
	background-color: #3E606F !important;
}
.bg-deepocean {
	background-color: #193441 !important;
}
.bg-turquoise {
	background-color: #1ABC9C !important;
}
.bg-aqua {
	background-color: #16A085 !important;
}
.bg-sunflower {
	background-color: #F1C40F !important;
}
.bg-orange {
	background-color: #F39C12 !important;
}
.bg-sienna {
	background-color: #BF4E19 !important;
}
.bg-milanored {
	background-color: #AC1C00 !important;
}
.bg-river {
	background-color: #007EE1 !important;
}
.bg-marina {
	background-color: #2980B9 !important;
}
.bg-deco {
	background-color: #C9D787 !important;
}
.bg-crete {
	background-color: #7D8A2E !important;
}
.bg-guardsman {
	background-color: #D90000 !important;
}
.bg-pomegranate {
	background-color: #C0392B !important;
}
.bg-finn {
	background-color: #723147 !important;
}
.bg-tamarind {
	background-color: #31152B !important;
}
.bg-brown {
	background-color: #695B59 !important;
}
.bg-red {
	background-color: #BF0203 !important;
}
.bg-trans {
	background-color: transparent !important;
}
.bg-wood-horizontal {
	background: transparent url(../images/textures/wood-horizontal.png) 0 0 repeat-x !important;
}
.bg-wood {
	background: transparent url(../images/textures/wood.png) 0 0 repeat !important;
}
.bg-diagonal-gray {
	background: url(../images/textures/texture02.png) 0 0 repeat !important;
}
.bg-dots-gray {
	background: url(../images/textures/texture04.png) 0 0 repeat !important;
}
.bg-dark-gray {
	background-color: #31353D !important;
}
.bg-ecru {
	background-color: #c2b280 !important;
}
.bg-golden {
	background-color: #daa520 !important;
}

/* ====================================================================================================================
 * Background Colors End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Colors Start
 * ====================================================================================================================*/
.black {
	color: #111111 !important;
}
.white {
	color: #FFFFFF !important;
}
.offwhite {
	color: #F5F5F5 !important;
}
.clouds {
	color: #ECF0F1 !important;
}
.silver {
	color: #BDC3C7 !important;
}
.concrete {
	color: #95A5A6 !important;
}
.asbestos {
	color: #7F8C8d !important;
}
.tan {
	color: #D1DBBD !important;
}
.pewter {
	color: #91AA9D !important;
}
.moonlight {
	color: #3E606F !important;
}
.deepocean {
	color: #193441 !important;
}
.turquoise {
	color: #1ABC9C !important;
}
.aqua {
	color: #16A085 !important;
}
.sunflower {
	color: #F1C40F !important;
}
.orange {
	color: #F39C12 !important;
}
.sienna {
	color: #BF4E19 !important;
}
.milanored {
	color: #AC1C00 !important;
}
.river {
	color: #007EE1 !important;
}
.marina {
	color: #2980B9 !important;
}
.deco {
	color: #C9D787 !important;
}
.crete {
	color: #7D8A2E !important;
}
.guardsman {
	color: #D90000 !important;
}
.pomegranate {
	color: #C0392B !important;
}
.finn {
	color: #723147 !important;
}
.tamarind {
	color: #31152B !important;
}
.brown {
	color: #695B59 !important;
}
.red {
	color: #BF0203 !important;
}
.ecru {
	color: #c2b280 !important;
}

.golden {
	color: #daa520 !important;
}
/* ====================================================================================================================
 * Colors End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Diagonal Container Styles Start
 * ====================================================================================================================*/
.diagonal-bottom-right:after {
	background: rgba(0, 0, 0, 0) url("../images/textures/diagonal-container-bottom-right.png") repeat scroll 0 0 / 100% 129px;
	bottom: 0;
	content: "";
	height: 129px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 9;
}
.diagonal-bottom-left:after {
	background: rgba(0, 0, 0, 0) url("../images/textures/diagonal-container-bottom-left.png") repeat scroll 0 0 / 100% 129px;
	bottom: 0;
	content: "";
	height: 129px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 9;
}
.diagonal-top-right:before {
	background: rgba(0, 0, 0, 0) url("../images/textures/diagonal-container-top-right.png") repeat scroll 0 0 / 100% 129px;
	top: 0;
	content: "";
	height: 129px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 9;
}
.diagonal-top-left:before {
	background: rgba(0, 0, 0, 0) url("../images/textures/diagonal-container-top-left.png") repeat scroll 0 0 / 100% 129px;
	top: 0;
	content: "";
	height: 129px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 9;
}
/* ====================================================================================================================
 * Diagonal Container Styles End
 * ====================================================================================================================*/

/* ====================================================================================================================
 * Magazine Styles Start
 * ====================================================================================================================*/
.content {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.magazine .blog-item img {
	border: none;
}
.module-light {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #f6f7f9; /*border: 1px solid #e5e5e5;*/
}
.module-dark {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #111;
	color: #fff;
}
.module-dark a {
	color: #FFBB00;
}
/* ====================================================================================================================
 * Magazine Styles End
 * ====================================================================================================================*/
 
 /* ====================================================================================================================
 * Contact Form Styles Start
 * ====================================================================================================================*/
 #contact-form {
	 padding: 20px;
}
#contact-form .cfgen-validationmessage{
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#BF0203;
}
#contact-form .cfgen-errormessage{
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#BF0203;
}
#contact-form .cfgen-type-textarea {
	height:140px;
}
 
 /* ====================================================================================================================
 * Contact Form Styles End
 * ====================================================================================================================*/
 
 /* ====================================================================================================================
 * Dropdown cart start
 * ====================================================================================================================*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
	color: #fff;
}
ul.dropdown-cart li .item:hover{
    background:rgba(255,255,255,0.5);
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    line-height:15px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
 /* ====================================================================================================================
 * Dropdown cart end
 * ====================================================================================================================*/
 
  /* ====================================================================================================================
 * OnePage Styles start
 * ====================================================================================================================*/
.onepage .sticky-for-header .header-main {
	background-color: #31353D !important;
}
.onepage .slogan-title {
      text-align: center;
      font-size: 39px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: #010101;
      margin-top: 0px;
	  line-height:70px;
	  /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);*/
}
.onepage .slogan-subtitle {
      text-align: center;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: #545454;
	  /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);*/
}

#pricing {
  background: rgba(0, 0, 0, 0) url("../images/textures/cream_pixels.png") repeat scroll 0 0;
  padding-bottom: 90px;
  padding-top: 120px;
}
  /* ====================================================================================================================
 * OnePage Styles start
 * ====================================================================================================================*/




.related_title {
	
	position: relative;
	padding: 10px;
	
	
	
}


.related_img {
	
	padding: 10px;

}


#waiting_register {display: none;}

.house_details table, th, td {
   border: 0px;
}

.house_details table {
   width: 100%;
}

.house_details th, td {
   padding: 4px;
   
.no_way img { border-top: none:}
}