/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
	margin:0;
	padding:0;
}

/*----------------------------------------

1.) Special Styles for Login Page
2.) Styles for Admin Area
	2.1) Head
	2.2) Bg_wrapper
		2.2.1) Main
		2.2.2) Sidebar
		2.2.3) Content
			2.2.3.1) Dashboard
			2.2.3.2) Content Box
			2.2.3.3) Input fields, Textareas, Dropdown lists, etc
			2.2.3.4) Tables
			2.2.3.5) Response Messages
3.) Footer
4.) Fonts, Images basic selectors
5.) Containers and classes created by jquery

----------------------------------------*/

/*----------------------------------------
1.) Special Styles for Login Page
----------------------------------------*/
body.nobackground{ /*Login page doesnt need a background-image*/
	background-color:#484848;
	background-image:none;
	}

#login{
	background:#FFFFFF url(../images/scheme1/bg.jpg) repeat-x scroll 0 -20px;
	height:360px;
	margin:0 auto;
	padding:25px;
	position:relative;
	width:252px;
	}
	
#login .logo a{
	left:37px;
	top:10px;
	}

#login-form{
	padding-top:180px;
	}
	
#login-form p{
	padding-bottom:10px;
	}
	
.forgot_pw{
	display:block;
	float:right;
	font-size:10px;
	padding:4px;
	}
	
.remember{
	display:block;
	float:left;
	}
	
.icon_login{
	background-image:url(../images/icons/lock.png);
	height:32px;
	position:absolute;
	right:13px;
	top:143px;
	width:32px;
	}
	
.loginheading {
border:medium none;
color:#FFFFFF;
font-size:15px;
left:25px;
position:absolute;
top:147px;
}

body .login_message{
	width:282px;
	margin:15px auto;
	}
	
body .login_message p{
	padding:10px 20px 10px 52px;
	background-position:15px 8px;
	}


/*----------------------------------------
2.) Styles for Admin Area
----------------------------------------*/
html{
	/* background:#484848; */
	}

body{
	font-size:12px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
	line-height:1.5em;
	color:#484848;
	position:relative;
	}
	
#top{
	position:relative;
	min-width:760px;
	max-width:1440px;
	margin:0 auto;
	}
	
	/*----------------------------------------
	2.1) Head
	----------------------------------------*/

	#head{
		position:relative;
		background:transparent url(../images/bg_head.png) no-repeat;
		height:199px;
		color:#fff;
		}
		
	#head a{color:#eee; text-decoration:none;}
	#head a:hover{color:#fff; text-decoration:underline;}

	.logo{
		width:234px;
		height:90px;
		position:absolute;
		z-index:1;
		left:0;
		}
	
	.logo a{
		width:234px;
		height:90px;
		display:block;
		position:absolute;	
		text-indent:-99999px;
		background:transparent url(../images/logo.png) no-repeat;
		top:30px;
		left:30px;
		outline:none;
		z-index:1;
		}

	.head_memberinfo{
		position:absolute;
		right:40px;
		top:20px;
		z-index:2;
		font-size:11px;
		line-height:13px;
		}
		
	.memberinfo_span{
		display:block;
		float:left;
		padding-right:5px;
		margin-right:5px;
		border-right:1px solid #eee;
		}
		
	.memberinfo_span2{
		display:block;
		clear:both;
		padding-top:5px;
		}
		
	#head .memberinfo_span2 a{
		color:#999;	
		}
	.head_memberinfo_logo{
		position:absolute;	
		left:-40px;
		} 
		
	.head_memberinfo_logo img{
		position:absolute;
		top:0;
		z-index:1;
		} 
		
	.head_memberinfo_logo span{
		font-size:10px;
		left:23px;
		position:absolute;
		top:2px;
		z-index:2;
		} 
		
	/*----------------------------------------
	2.2) Main
	----------------------------------------*/
		#bg_wrapper{
		background:transparent url(../images/bg_main.jpg) repeat-y scroll left top;
		border-left:1px solid #C0C0C0;
		float:left;
		margin:0 0 0 -1px;
		position:relative;
		width:100%;
	
		}
			/*----------------------------------------
			2.2.1) Main
			----------------------------------------*/
			#main{
			float:right;
			width:100%;
			margin-left:-300px;
			position:relative;
			}
			
			
		
			/*----------------------------------------
			2.2.2) Sidebar
			----------------------------------------*/
			
			#sidebar{
				float:left;
				width:270px;
				position:relative;
				}
				
			#sidebar ul{
				list-style-type:none;
				list-style-position:outside;
				}
				
			#sidebar li a{
				line-height:32px;
				width:230px;
				text-decoration:none;
				display:block;
				padding: 0 20px;
				background:transparent url(../images/dotted_line.gif) repeat-x left top;
				outline:none;
				}
				
			#sidebar li a:hover{
				background-color:#fff;
				}
				
			#sidebar .current a{
				background-color:#fff;
				}
				
				
			#sidebar .headitem:hover{
				color:#555;
				}
				
			#sidebar .headitem{
				line-height:64px;
				width:200px;
				padding: 0 10px 0 60px;
				font-size:15px;
				border-top:1px solid #c0c0c0;
				}
								
			#top #sidebar .item1{ background:transparent url(../images/icons/edit.png) no-repeat 15px center;	}
			#top #sidebar .item2{ background:transparent url(../images/icons/users.png) no-repeat 15px center;	}
			#top #sidebar .item3{ background:transparent url(../images/icons/applications.png) no-repeat 15px center;	}
			#top #sidebar .item4{ background:transparent url(../images/icons/place.png) no-repeat 15px center;	}
			#top #sidebar .item5{ background:transparent url(../images/icons/window.png) no-repeat 15px center;	}
			#top #sidebar .item6{ background:transparent url(../images/icons/recipe.png) no-repeat 15px center;	}
			#top #sidebar .item7{ background:transparent url(../images/icons/computer.png) no-repeat 15px center;	}
			#top #sidebar .item8{ background:transparent url(../images/icons/category.png) no-repeat 15px center;	}
			#top #sidebar .item9{ background:transparent url(../images/icons/prezent.png) no-repeat 15px center;	}
			#top #sidebar .item10{ background:transparent url(../images/icons/order.png) no-repeat 15px center;	}
			#top #sidebar .item11{ background:transparent url(../images/icons/stat.png) no-repeat 15px center;	}
			#top #sidebar .item12{ background:transparent url(../images/icons/newsletter.png) no-repeat 15px center;	}
			#top #sidebar .item13{ background:transparent url(../images/icons/category2.png) no-repeat 15px center;	}
			#top #sidebar .item14{ background:transparent url(../images/icons/money.png) no-repeat 15px center;	}
			#top #sidebar .item15{ background:transparent url(../images/icons/specialist.png) no-repeat 15px center;	}
			#top #sidebar .item16{ background:transparent url(../images/icons/city.png) no-repeat 15px center;	}
			#top #sidebar .item17{ background:transparent url(../images/icons/company.png) no-repeat 15px center;	}
			#top #sidebar .item18{ background:transparent url(../images/icons/alert.png) no-repeat 15px center;	}
			#top #sidebar .item19{ background:transparent url(../images/icons/house.png) no-repeat 15px center;	}
			
			/*----------------------------------------
			2.2.3) Content
			----------------------------------------*/
			#content{
				margin-left:300px;
				margin-right:30px;
				padding-top:30px;
				position:relative;
				}
				
			
				
				/*----------------------------------------
				2.2.3.1) Dashboard
				----------------------------------------*/			
				.dashboard_button{
					float:left;
					width:133px;
					height:80px;
					overflow:hidden;
					border:1px solid #c0c0c0;
					padding:15px;
					margin:0 10px 10px 0;
					background:#eaeaea url(../images/highlight_line.gif) repeat-x top left;
					font-size:11px;
					line-height:1.4em;
					text-decoration:none;
					color:#a1a1a1;
					}
					
				.dashboard_button span{
					display:block;
					padding-top:7px;
					}
				
				#top .dashboard_button_heading{
					display:block;
					color:#4a4a4a;
					font-size:14px;
					padding:0 0 0 40px;
					line-height:29px;
					height:35px;
					}
					
				#top .two_lines.dashboard_button_heading{
					line-height:17px;
					}
					
					
				.dashboard_button:hover{
					background:#ddd;
					border:1px solid #aaa;
					padding-top:16px;
					height:79px;
				}
				
				#top .dashboard_button:hover .dashboard_button_heading{
					color:#222;
				}
				
				
				#top .button1 .dashboard_button_heading{ background:transparent url(../images/icons/Computer.png) no-repeat 0px top;	}
				#top .button2 .dashboard_button_heading{ background:transparent url(../images/icons/advanced.png) no-repeat 0px top;	}
				#top .button3 .dashboard_button_heading{ background:transparent url(../images/icons/applications.png) no-repeat 0px top;	}
				#top .button4 .dashboard_button_heading{ background:transparent url(../images/icons/edit.png) no-repeat 0px top;	}
				#top .button5 .dashboard_button_heading{ background:transparent url(../images/icons/search.png) no-repeat 0px top;	}
				#top .button6 .dashboard_button_heading{ background:transparent url(../images/icons/trash.png) no-repeat 0px top;	}
				#top .button7 .dashboard_button_heading{ background:transparent url(../images/icons/window.png) no-repeat 0px top;	}
				#top .button8 .dashboard_button_heading{ background:transparent url(../images/icons/archive.png) no-repeat 0px top;	}
				#top .button9 .dashboard_button_heading{ background:transparent url(../images/icons/send.png) no-repeat 0px top;	}
				#top .button10 .dashboard_button_heading{ background:transparent url(../images/icons/users.png) no-repeat 0px top;	}
				#top .button11 .dashboard_button_heading{ background:transparent url(../images/icons/picture.png) no-repeat 0px top;	}
				#top .button12 .dashboard_button_heading{ background:transparent url(../images/icons/help.png) no-repeat 0px top;	}
				
				/*----------------------------------------
				2.2.3.2) Content Box
				----------------------------------------*/
				
				.content-box{
					background:#FFF6BF url(../images/highlight_line.gif) repeat-x scroll 0 0;
					border:1px solid #FDD845;
					float:left;
					width:47%;
					margin-right:0.6%;
					padding:1%;
					}
					
				#top .box-grey{
					background:#EAEAEA url(../images/highlight_line.gif) repeat-x scroll left top;
					border:1px solid #C0C0C0;
					}
					
				#top .box2{
					margin:0;
					clear:none;
					}
					
				.content-box h4{
					color:#333;
					}
				
				/*----------------------------------------
				2.2.3.3) Input fields, Textareas, Dropdown lists, etc
				----------------------------------------*/
				label{
					display:block;
					padding-bottom:3px;
					}
							
				label.inline{
					display:inline;
					}	
					
				.input-small, .input-medium, .input-big, .input-flex, select, textarea{
					padding:5px;
					border:1px solid #959595;
					font-size:12px;
					font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
					background-color:#eaeaea;
					color:#333;
					}
				.input-small{width:120px;}
				.input-medium{width:240px;} 
				.input-big{width:480px;} 
				.input-flex{width:70%;}
				
				textarea, iframe , .wysiwyg{
					overflow:auto;
					}
				
				#filtry input{
					width: 170px;
				
				
				}
				
				#filtry select{
					width: 180px;
				
				
				}
				
				.button{
					border:1px solid #959595;
					font-size:12px;
					font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
					background-color:#eaeaea;
					padding:5px 15px;
					color:#fff;
					cursor:pointer;
					}
					
				.button:hover{
					padding:6px 15px 4px;
					}
				
				textarea{
					line-height:1.5em;
					width:43%;
					height:200px;
					}
					
				/*----------------------------------------
				2.2.3.4) Tables
				----------------------------------------*/				
				#top table{
					/*margin-bottom:30px;	*/
				}
				
				#table_fixed {
				width: 470px;
				padding: 0;
				margin: 0;
				font-size:11px;
				}
				
				#table_fixed caption {
					padding: 0 0 5px 0;
					width: 470px;	 
					text-align: right;
				}
				
				#table_liquid {
				width: 100%;
				padding: 0;
				margin: 0;
				font-size:11px;
				clear:both;
				}
				
				#table_liquid caption {
					padding: 0 0 5px 0;
					width: 100%;	 
					text-align: right;
				}
				
				#table_auto {
				width: auto;
				padding: 0;
				margin: 0;
				font-size:11px;
				clear:both;
				}
				
				#table_auto caption {
					padding: 0 0 5px 0;
					width:auto;	 
					text-align: right;
				}
				
				th {
					border-color:#959595 #959595 #959595 #FFFFFF;
					border-style:solid;
					border-width:1px;
					color:#fff;
					letter-spacing:2px;
					padding:6px 6px 6px 12px;
					text-align:left;
					text-transform:uppercase;
				}
				
				th.nobg {
					border-top: 0;
					border-left: 0;
					border-right: 1px solid #959595;
					background: none;
					color:#484848;
				}
				
				td.lista {
					border-right: 1px solid #959595;
					border-bottom: 1px solid #959595;
					background: #fff;
					padding: 6px 6px 6px 12px;
					color: #484848;
				}
				
				
				
				th.spec {
					border-left: 1px solid #959595;
					border-top: 0;
					background: #fff url(../images/bullet2.gif) no-repeat;
					font-weight:bold;
					font-size: 10px;
					color:#484848;
				}
				
				th.specalt {
					border-left: 1px solid #959595;
					border-top: 0;
					font-weight:bold;
					font-size: 10px;
				}
				
				
				
				/*----------------------------------------
				2.2.3.5) Response Messages
				----------------------------------------*/
				.message {
					border:1px solid;
					margin:0 10px 20px 0;
					}
					
				.message p{
					padding:20px 20px 20px 52px;	
					}	
				
				
				.success{
					background:#E6EFC2 url(../images/highlight_line.gif) repeat-x scroll 0 0;
					border-color:#C6D881;
					}
					
				.success p{
					background:transparent url(../images/24_tick.png) no-repeat scroll 15px 16px;
					}
				
				.warning{
					background:#FFF6BF url(../images/highlight_line.gif) repeat-x scroll 0 0;
					border-color:#FDD845;
					}
					
				.warning p{
					background:transparent url(../images/24_alert.png) no-repeat scroll 15px 17px;
					}
				
				.error{
					background:#FBE3E4 url(../images/highlight_line.gif) repeat-x scroll 0 0;
					border-color:#959595;
					}
					
				.error p{
					background:transparent url(../images/24_x_false.png) no-repeat scroll 15px 17px;
					}
				
				.tip{
					background:#A8B2C5 url(../images/highlight_line.gif) repeat-x scroll 0 0;
					border-color:#8497BF;
					}
					
				.tip p{
					background:transparent url(../images/24_information.png) no-repeat scroll 15px 17px;
					}
				
				
/*----------------------------------------
3.) Footer
----------------------------------------*/
#footer{
	clear:both;
	height:20px;
	background:#484848;
	marin:0px;
	color:#FFF;
	text-align:right;
	padding:10px 40px;;
	
	}


/*----------------------------------------
4.) Fonts, Images basic selectors
----------------------------------------*/
h1,h2,h3,h4,h5,h6{
	line-height:1.8em;
	font-weight:normal;
	margin:0 0 7px;
	color:#c0c0c0;
	}
	
h1{font-size:22px;}
h2{font-size:20px; border-bottom:1px solid #c0c0c0; clear:both; margin-right:10px;}
h3{font-size:18px;}
h4{font-size:17px;}
h5{font-size:16px;}
h6{font-size:14px;}

p{padding:0 0 22px 0}

a{color:#222; text-decoration:underline;}
a:hover{color:#333; text-decoration:none;}

blockquote{
padding:5px 30px 0 15px;
background-repeat:no-repeat;
background-position:top left ;
margin:10px 0 10px 15px;
border-left:3px solid #fff;
color:#fff;
}

blockquote em{
color:#ff0000;
padding:0px 40px  0px 0px;
background-repeat:no-repeat;
background-position:top right;
display:block;
text-align:right;
font-style:italic;
}

#top .noborder, #top .noborder a, #top noborder ima a{
	border:none;
	padding:0;
	}
	
/*----------------------------------------
5.) Containers and classes created by jquery
----------------------------------------*/	
.closeable{
	position:relative;
	}
	
.click_to_close{
	right:2px;
	top:2px;
	position:absolute;
	height:16px;
	width:16px;
	background:transparent url(../images/close.png) no-repeat scroll 0 0;
	cursor:pointer;
	}

.jquery_tab_container{
	left:-30px;
	position:absolute;
	top:-35px;
	z-index:30;
	display: none;
	}
	
.jquery_tab{
	width:100%;
	float:left;
	}
	
.jquery_tab_container a{
	display: block;
	float:left;
	line-height:34px;
	padding:0 15px;
	background-color:#d5d5d5;
	margin-right:1px;
	text-decoration:none;
	color:#a1a1a1;
	font-size:13px;
	outline:none;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #999;
	}
	
.jquery_tab_container .active, .jquery_tab_container a:hover{
	background:transparent url(../images/bg_tab.png) repeat-x;
	padding-bottom:2px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:none;
	color:#4a4a4a;
	}
	
#top .flexy_datepicker{
	font-size:11px;
	margin-bottom:25px;
	}
	
#top .flexy_datepicker table{
	margin:0;
	}
	
#top .ui-datepicker {
padding:0.2em;
}

#top #sidebar .ui-datepicker{

border-left:medium none;
border-right:medium none;
padding:0.2em;
width:266px;}

#top .wysiwyg{
	background-color:#EAEAEA;
	border:1px solid #959595;
	}
	
#top div.wysiwyg ul.panel li a {
	border:1px solid #959595;
	}
	
#dialog{
	display:none;
	}
	
.clearboth{
	clear:both;
	}
	
	
	
	
	
#info {
	display: block;
	padding: 10px; margin-bottom: 20px;

}

#listtop {
	list-style: none;
	width:100%;
	margin-bottom:10px;
}

#listtop li {
	display: block;
	padding: 7px 10px; 
	margin-bottom: 3px;
	
}
#listtop .top {
	color:#4a4a4a;
	font-size:16px;
	
}
#listtop .nametop {
	float:left;
	padding:0 20px 0 36px;
	
}
#listtop .nametop {
	float:left;
	padding-right:20px;
	
}
#listtop .datetop {
	float:right;
	margin-right: 64px;
}
#listtop .paramtop {
	float:right;
	margin-right: 220px;
}
#listtop .optionstop {
	float:right;
	margin-right: 35px;
	
}
#listtop .positiontop {
	float:right;
	width:85px;
}

#order-list {
	list-style: none;
	width:100%;
	text-aligh:justify;
}

#order-list li {
	display: block;
	padding: 7px 10px; margin-bottom: 3px;
	border:1px solid #C0C0C0;
	
}

#order-list li:hover {
	display: block;
	padding: 7px 10px; margin-bottom: 3px;
	border:1px solid gray;
	background-color: #ddd9d4;
	
}

#order-list li img.handle {
	margin-right: 20px;
	cursor: move;
	float:left;
}

#order-list li img.no-handle {
	margin-right: 20px;
	cursor: move;
	float:left;
}


#order-list .name {
	float:left;
	padding-right:20px;
	
}
#order-list .date {
	float:right;
	margin-right: 30px;
	
}
#order-list .options {
	float:right;
	margin-right: 20px;
	display:inline;
	
}
#order-list .position {
	float:right;
	width:80px;
}
#summary {
	float: right;
	width:400px;
	padding:10px;
	background-color: #efefef;
	border:1px solid #C0C0C0;
	
}
#pagging {
	float:right;
	
}

.clrl { clear:left; }