html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E0E0DF;
}

#header {
    width: 100%;
    height: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    line-height: 90px;
    background-color: #232323;
}

#header h1 {
    margin: 0;
    line-height: 60px;
    text-align: center;
    font-variant: small-caps;
    font-weight: normal;
    color:#fff;
}

#content {
    width: 80%;
    margin: auto;
}

#content h2 {
    margin: 7px 0 3px;
    text-align: center;
    font-variant: small-caps;
    font-weight: normal;
    color: #444;
}

hr {
    display: block;
    height: 1px;
    margin-bottom: 15px;
    border-color: #ededed;
    border-style: solid;
    border-width: 0 0 1px;
    background-color: #bfbebe;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th {
    text-align: left;
}

.table {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    background-color: #eee;
}

.table td,
.table th {
    padding: .3em 20px .3em 20px;
    font-size: 14px;
    color: #333;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dcdcdc;
}

.table-bordered td {
    border-right: 1px solid #bcbcbc;
}

.table-striped > tbody > tr:last-child > th, .table-striped > tbody > tr:last-child > td {
    border-bottom: 1px solid #bcbcbc;
}