<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>www.nohate.code13.pl</title>
</head>

<body>
	<br /><br />
	<table width="675" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF" style="border:1px solid #eaeaea">
		<tr>
		  <td>

			    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					
					
					<tr>
						<td width="657" height="63" bgcolor="#ffffff" style="font-family:arial;font-size:10pt;color:#666666;">
							<a href="{$__CFG.base_url}"><img src="{$__CFG.base_url}images/html/logo.gif" alt="www.nohate.code13.pl" border="0" /></a>
						</td>
					</tr>
					
					
					<tr>
						<td style="font-family:arial;font-size:10pt;color:#666666;">
							
							<table cellpadding="10" cellspacing="0" width="100%">
								<tr>
									<td style="font-family:arial;font-size:10pt;color:#666666;">									
										<h3>{$article.title}</h3>
										
										{$article.content}  
										
									</td>
								</tr>
							</table>
												
						</td>
					</tr>
					
					
					<tr>
						<td style="font-family:arial;font-size:8pt;color:#666666;">
						<br><br>
						--------------------------------------------------------------------------
						<br>
							Wiadomość wygenerowana automatycznie - Możesz wypisać się z listy mailingowej  <a href="{$__CFG.base_url}konto">tutaj</a>
						</td>
					</tr>
					
					
		    </table>
			
		  </td>
		</tr>
</table>

<br />

{*
<table width="675" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
	  <td style="font-family:arial;font-size:8pt;color: #999999;">
	  	{$dict_templates.NewsletterFootContent}
	  </td>
	<td>&nbsp;</td>
  </tr> 
</table>		 
*}

</body>
</html>
