    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Reflect Template" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>Code 13 - PO Twojej stronie w internecie!</title>
        <link rel="stylesheet" href="{$path}/style/style_all.css" type="text/css" media="screen" />
        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <!-- to choose another color scheme uncomment one of the foloowing stylesheets and wrap styl1.css into a comment -->
        <link rel="stylesheet" href="{$path}/style/style7.css" type="text/css" media="screen" />
        
        <!-- 
        <link rel="stylesheet" href="{$path}/style/style2.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/style3.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/style4.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/style5.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/style6.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/style7.css" type="text/css" media="screen" />
         -->
        
        
        <link rel="stylesheet" href="{$path}/style/jquery-ui.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$path}/style/jquery.wysiwyg.css" type="text/css" media="screen" />
        
        <!--Internet Explorer Trancparency fix-->
        <!--[if IE 6]>
        <script src="{$path}/js/ie6pngfix.js"></script>
        <script>
          DD_belatedPNG.fix('#head, a, a span, img, .message p, .click_to_close, .ie6fix');
        </script>
        <![endif]--> 
        
        <script type='text/javascript' src='{$path}/js/jquery.js'></script>
        <script type='text/javascript' src='{$path}/js/jquery-ui.js'></script>
        
        <script type='text/javascript' src='{$path}/js/custom.js'></script>
        <script type="text/javascript" src="{$path}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{$path}/js/jquery.validate.js"></script>
        
        
        <script type="text/javascript" src="{$path}/js/function.js"></script>
        <script src="{$path}/js/sorttable.js"></script>
        
        
        <script type="text/javascript" src="{$path}/js/jquery-ui-1.7.1.custom.min.js"></script> 
        <script type='text/javascript' src='{$path}/js/jquery.wysiwyg.js'></script>
        <script type='text/javascript' src='{$path}/js/pass.gen.js'></script>
        <script type="text/javascript" src="{$path}/js/jquery.maxlength.js"></script>
        <script src="{$path}/ckeditor/ckeditor.js"></script>
        
        
        
    </head>
